* {
	margin: 0;
}
.button {
	background: #fff url(img/Вверх1.png) center no-repeat;
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 0 10px #000;
	transition-duration: 0.25s;
}
.button:hover {
	box-shadow: 0 0 10px darkblue;
	background: #9cdaff url(img/Вверх2.png) center no-repeat;
	transform: scale(1.06);
}
h1 {
	text-align: center;
	font-size: 30px;
}
.cpicok {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 10px 25px;
	box-shadow: none;
}
.cpicok a {
	white-space: nowrap;
	flex: 1 0 22%;
	margin: 25px 25px 0 0;
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
	text-align: center;
	transition-duration: 0.25s;
}
.cpicok a:hover {
	box-shadow: 0 0 10px green;
	color: green;
	background: rgba(0, 255, 190, 0.25);
	transform: scale(1.05);
}
a {
	font-size: 25px;
	color: blue;
	text-decoration: none;
}
a:hover {
	color: green;
}
div {
	box-shadow: 0 0 10px #000;
	border-radius: 15px;
	font-size: 25px;
}
.div {
	margin: 25px;
	padding: 6px;
}
i {
	font-style: normal;
	font-size: 25px;
	color: green;
}
.end {
	padding: 6px;
	margin: 25px 25px 10px;
}
.end1 {
	height: 15px;
	box-shadow: none;
}
h2 {
	display: inline;
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
span {
	display: inline-block;
	padding-right: 15px;
	margin-right: 10px;
	border-right: 1px solid #000;
}
#span {
	padding: 0;
	margin: 0;
	border: 0;
}
.k, .l, .br, .brtoo {
	display: none;
}
@media (min-width: 1258px) {
	#div5, #div6, #div7, #div8, #div9 {
		flex: 1 0 15%;
	}
	#div13:hover {
		transform: scale(1.05);
	}
}
@media (max-width: 800px) {
	* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13 {
		flex: 1 0 40%;
	}
	#span {
		display: none;
	}
	span {
		border: 0;
	}
}
@media (min-width: 662px) {
	#div13:hover {
		transform: scale(1.015);
	}
}
@media (max-width: 475px) {
	#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13 {
		flex: 1 0 80%;
	}
	.br {
		display: inline;
	}
}
@media (max-width: 430px) {
	.k, .brtoo {
		display: inline;
	}
}
@media (max-width: 360px) {
	.l {
		display: inline;
	}
	.z {
		font-size: 25px;
	}
	.div {
		font-size: 20px;
	}
	.i {
		font-size: 20px;
	}
}